@use '@styles/abstracts/mixins/buttons' as btn;

//==========================================================================
//==[ @component Card ]=====================================================
//==========================================================================

/* hover & focus state ----------------------------------------------------- */
@mixin card-action-state {
    --card-avatar-scale: 1;
    --card-box-shadow: var(--shadow-4);
    --card-header-pseudo-opacity: 1;
    --card-ranking-color: var(--brand);
    --card-ranking-opacity: 1;
    --card-scale: 1.04;

    .card__button {
        --_button-highlight-color: hsl(var(--brand-hsl) / 0.8);
        --_button-highlight-size: calc(var(--font-size-fluid-0) / 3);
        --_button-border-color: var(--_button-highlight-color);
    }
}

/* .card ----------------------------------------------------- */
.card {
    --card-avatar-size: calc(var(--size-fluid-6) * 0.9);
    --card-avatar-scale: 1.2;
    --card-background-color: var(--surface-2);
    --card-box-shadow: var(--shadow-3);
    --card-font-size-author: 0.875rem;
    --card-font-size-description: 1rem;
    --card-font-size-eyebrow: var(--size-fluid-1);
    --card-font-size-ranking: var(--font-size-fluid-2);
    --card-font-size-title: calc(var(--font-size-fluid-1) * 1.3);
    --card-header-pseudo-opacity: 0;
    --card-icon-size: 1.5em;
    --card-padding-block: var(--size-3);
    --card-padding-inline: var(--size-3);
    --card-ranking-color: var(--text-2);
    --card-ranking-opacity: 0.6;
    --card-scale: 1;

    @supports (font-size: 1cqi) {
        --card-avatar-size: 24cqi;
        --card-font-size-author: 3.25cqi;
        --card-font-size-description: 3.6cqi;
        --card-font-size-eyebrow: 3.73cqi;
        --card-font-size-ranking: 10cqi;
        --card-font-size-title: 7.25cqi;
        --card-icon-size: 6.75cqi;
    }

    [color-scheme="dark"] & {
        --card-ranking-opacity: 0.4;
    }

    align-content: start;
    background: var(--card-background-color);
    border-radius: var(--radius-3);
    box-shadow: var(--card-box-shadow);
    container-name: card;
    container-type: inline-size;
    display: grid;
    gap: var(--card-padding-block);
    grid-template-rows: max-content 1fr max-content;
    overflow: hidden;
    padding-block: var(--card-padding-block);
    padding-inline: var(--card-padding-inline);
    position: relative;
    scale: var(--card-scale);
    transition:
        box-shadow var(--duration-fast) var(--ease-out-3),
        scale var(--duration-fast) var(--ease-out-3);
    will-change: box-shadow, scale;

    @media (any-hover: hover) {
        &:hover {
            @include card-action-state();
        }
    }

    &:focus-within:has(:focus-visible) {
        @include card-action-state();
    }

    @supports not (selector(:has(*))) {
        &:focus-within {
            @include card-action-state();
        }
    }

    &__header {
        --_header-gradient: linear-gradient(200deg, var(--surface-4), var(--surface-1));
        --_header-pseudo-gradient: var(--gradient-1);

        aspect-ratio: var(--ratio-ultrawide);
        background-image: var(--_header-gradient);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 120%;
        border-radius: 0.5rem;
        display: grid;
        inline-size: 100%;
        position: relative;

        [color-scheme="dark"] & {
            --_header-gradient: var(--gradient-23);
            --_header-pseudo-gradient: var(--gradient-3);
        }

        &::before {
            background-image: var(--_header-pseudo-gradient);
            border-radius: inherit;
            content: '';
            inset: 0;
            opacity: var(--card-header-pseudo-opacity);
            position: absolute;
            transition: opacity var(--duration-fast) var(--ease-out-3);
        }
    }

    &__eyebrow {
        --card-eyebrow-padding: 0.75rem;
        align-items: center;
        background: var(--card-background-color);
        border-end-end-radius: 0.5rem;
        display: grid;
        font-family: var(--font-mono);
        font-size: var(--card-font-size-eyebrow);
        gap: 0.5em;
        grid-template-columns: max-content auto;
        inset: calc(var(--card-padding-block) * 0.75 * -1) auto auto calc(var(--card-padding-inline) * 0.75 * -1);
        letter-spacing: var(--font-letterspacing-4);
        line-height: 0.75;
        padding-block: var(--card-eyebrow-padding);
        padding-inline: var(--card-eyebrow-padding);
        position: absolute;
    }

    &__eyebrow-icon {
        &:is(.material-symbols-rounded) {
            font-size: 1.5em !important;
        }
    }

    &__eyebrow-text {
        line-height: 1;
        margin-block-start: 4px;
    }

    &__avatar {
        aspect-ratio: var(--ratio-square);
        background: var(--card-background-color);
        border-radius: var(--radius-round);
        //border-end-end-radius: 0;
        border: calc(var(--card-avatar-size) * 0.12) solid var(--card-background-color);
        block-size: var(--card-avatar-size);
        inline-size: var(--card-avatar-size);
        inset: auto calc(var(--card-padding-block) * -1) calc(var(--card-padding-inline) * -1) auto;
        place-self: end;
        overflow: hidden;
        position: absolute;

        img {
            block-size: 100%;
            border-radius: var(--radius-round);
            inline-size: 100%;
            object-fit: cover;
            transition:
                opacity var(--duration-moderate) var(--ease-out-1),
                scale var(--duration-fast) var(--ease-out-3);
            scale: var(--card-avatar-scale);
        }
    }

    &__body {
        align-content: start;
        display: grid;
    }

    &__title {
        --_title-spacing: calc(var(--card-padding-block) * 0.5);
        font-size: var(--card-font-size-title);
        margin-block-end: var(--_title-spacing);
        max-inline-size: none;

        @container root (min-width: 32rem) {
            &::after {
                background: hsl(var(--surface-3-hsl) / 0.15);
                block-size: 0.5rem;
                border-radius: var(--radius-2);
                content: '';
                display: block;
                inline-size: 100%;
                margin-block-start: var(--_title-spacing);
            }
        }
    }

    &__link {
        @include btn.button-reset();
        font-family: var(--font-sans);
        font-size: inherit;
        font-weight: var(--font-weight-7);
        letter-spacing: var(--font-letterspacing-2);
        outline: none;
        text-align: start;

        &::after {
            content: '';
            inset: 0;
            position: absolute;
        }
    }

    &__author {
        color: hsl(var(--text-2-hsl) / 0.8);
        font-family: var(--font-mono);
        font-size: var(--card-font-size-author);
        font-weight: var(--font-weight-3);
        letter-spacing: var(--font-letterspacing-4);
        line-height: 1;
        margin-block-end: calc(var(--card-padding-block) * 0.1);
    }

    &__description {
        font-size: var(--card-font-size-description);
    }

    &__button {
        aspect-ratio: var(--ratio-square);
        display: grid;
        place-items: center;
    }

    &__button-icon {
        &:is(.material-symbols-rounded) {
            font-size: var(--card-icon-size) !important;
        }
    }

    &__footer {
        align-items: center;
        display: grid;
        gap: var(--size-fluid-1);
        grid-template-columns: auto max-content;
        justify-content: space-between;
    }

    &__ranking {
        color: var(--card-ranking-color);
        font-family: var(--font-pixel);
        font-size: var(--card-font-size-ranking);
        opacity: var(--card-ranking-opacity);
        transition:
            color var(--duration-fast) var(--ease-out-3),
            opacity var(--duration-fast) var(--ease-out-3);
    }
}