@use '@styles/abstracts/mixins/buttons' as btn;

@mixin card-action-state {
    --card-box-shadow: var(--shadow-4);
    --card-header-pseudo-opacity: 1;
    --card-ranking-color: var(--brand);
    --card-ranking-opacity: 1;
    --card-scale: 1.04;

    .card__button {
        --_button-highlight-color: hsl(var(--brand-hsl) / 0.8);
        --_button-highlight-size: calc(var(--font-size-fluid-0) / 3);
        --_button-border-color: var(--_button-highlight-color);
    }
}

.card {
    --card-background-color: var(--surface-2);
    --card-box-shadow: var(--shadow-3);
    --card-header-pseudo-opacity: 0;
    --card-padding-block: var(--size-fluid-1);
    --card-padding-inline: var(--size-fluid-1);
    --card-ranking-color: var(--surface-4);
    --card-ranking-opacity: 0.8;
    --card-scale: 1;

    align-content: start;
    background: var(--card-background-color);
    border-radius: var(--radius-3);
    box-shadow: var(--card-box-shadow);
    display: grid;
    gap: var(--card-padding-block);
    grid-template-rows: max-content 1fr max-content;
    overflow: hidden;
    padding-block: var(--card-padding-block);
    padding-inline: var(--card-padding-inline);
    position: relative;
    scale: var(--card-scale);
    transition:
        box-shadow var(--duration-fast) var(--ease-out-3),
        scale var(--duration-fast) var(--ease-out-3);

    @media (any-hover: hover) {
        &:hover {
            @include card-action-state();
        }
    }

    &:focus-within {
        @include card-action-state();
    }

    &__header {
        --_header-gradient: linear-gradient(200deg, var(--surface-4), var(--surface-1));
        --_header-pseudo-gradient: var(--gradient-1);

        aspect-ratio: var(--ratio-ultrawide);
        background-image: var(--_header-gradient);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 120%;
        border-radius: 0.5rem;
        display: grid;
        inline-size: 100%;
        position: relative;

        [color-scheme="dark"] & {
            --_header-gradient: var(--gradient-23);
            --_header-pseudo-gradient: var(--gradient-3);
        }

        &::before {
            background-image: var(--_header-pseudo-gradient);
            border-radius: inherit;
            content: '';
            inset: 0;
            opacity: var(--card-header-pseudo-opacity);
            position: absolute;
            transition: opacity var(--duration-fast) var(--ease-out-3);
        }
    }

    &__eyebrow {
        align-items: center;
        background: var(--card-background-color);
        border-end-end-radius: 0.5rem;
        display: grid;
        font-family: var(--font-mono);
        font-size: var(--size-fluid-1);
        gap: 0.5em;
        grid-template-columns: max-content auto;
        inset: calc(var(--card-padding-block) * 0.75 * -1) auto auto calc(var(--card-padding-inline) * 0.75 * -1);
        letter-spacing: var(--font-letterspacing-4);
        line-height: 0.75;
        padding-block: 0.75rem;
        padding-inline: 0.75rem;
        position: absolute;
    }

    &__eyebrow-text {
        line-height: 1;
        margin-block-start: 4px;
    }

    &__avatar {
        aspect-ratio: var(--ratio-square);
        background: var(--card-background-color);
        border-radius: var(--radius-round);
        border-end-end-radius: 0;
        border: calc(var(--size-fluid-1) * 0.9) solid var(--card-background-color);
        block-size: calc(var(--size-fluid-6) * 0.9);
        inset: auto calc(var(--card-padding-block) * -1) calc(var(--card-padding-inline) * -1) auto;
        place-self: end;
        position: absolute;

        img {
            block-size: 100%;
            border-radius: var(--radius-round);
            inline-size: 100%;
            object-fit: cover;
        }
    }

    &__body {
        align-content: start;
        display: grid;
    }

    &__title {
        --_title-spacing: calc(var(--card-padding-block) * 0.5);
        margin-block-end: var(--_title-spacing);

        &::after {
            content: '';
            display: block;
            block-size: 0.5rem;
            border-radius: var(--radius-2);
            background: hsl(var(--surface-3-hsl) / 0.15);
            inline-size: 100%;
            margin-block-start: var(--_title-spacing);
        }
    }

    &__link {
        @include btn.button-reset();
        font-family: var(--font-sans);
        font-size: calc(var(--font-size-fluid-1) * 1.3);
        font-weight: var(--font-weight-7);
        letter-spacing: var(--font-letterspacing-2);
        outline: none;
        text-align: start;

        &::after {
            content: '';
            inset: 0;
            position: absolute;
        }
    }

    &__author {
        color: hsl(var(--text-2-hsl) / 0.8);
        font-family: var(--font-mono);
        font-size: 0.875rem;
        font-weight: var(--font-weight-3);
        letter-spacing: var(--font-letterspacing-4);
        line-height: 1;
        margin-block-end: calc(var(--card-padding-block) * 0.1);
    }

    &__button {
        aspect-ratio: var(--ratio-square);
        block-size: 100%;
        display: grid;
        place-items: center;
    }

    &__footer {
        align-items: center;
        display: grid;
        gap: var(--size-fluid-1);
        grid-template-columns: auto max-content;
        justify-content: space-between;
    }

    &__ranking {
        color: var(--card-ranking-color);
        font-family: var(--font-pixel);
        font-size: var(--font-size-fluid-2);
        opacity: var(--card-ranking-opacity);
        transition:
            color var(--duration-fast) var(--ease-out-3),
            opacity var(--duration-fast) var(--ease-out-3);
    }
}