// Koulen - 400 ( Regular )
// Pixelify Sans - 500 ( Medium )
// Jura - 300 ( Light ), 500 ( Medium ), 700 ( Bold )

:root {
    --font-sans: 'Jura', sans-serif;
    --font-mono: 'Koulen', monospace;
    --font-pixel: 'Pixelify Sans', sans-serif;
}