// NEED :HAS POLYFILL.
.switch-group {
    background: var(--surface-1);
    border-radius: var(--radius-2);
    border: none;
    box-shadow: var(--shadow-2);
    display: flex;
    gap: var(--size-1);
    max-inline-size: max-content;
    padding: var(--size-1);
    transition: box-shadow .5s var(--ease-squish-3);

    &:is(:focus-within, :hover) {
        box-shadow: var(--shadow-4);
    }

    & > legend {
        visibility: hidden;
        block-size: 0;
    }
}

.group-switch {
    border-radius: calc(var(--radius-2) * .5);
    display: grid;
    inline-size: var(--size-7);
    padding: var(--size-1);
    place-items: center;

    @media (prefers-reduced-motion: no-preference) {
        transition:
            outline-offset .3s ease,
            background-color .3s ease;
    }

    &:not(:has(:active)) {
        outline-offset: 2px;
    }

    &:has(:focus-visible):focus-within {
        outline: 1px solid var(--link);
    }

    &:has(:checked) {
        color: var(--link);
    }

    & :checked ~ svg {
        color: var(--link);
    }

    &:has(:checked),
    &:hover {
        background: var(--surface-2);
    }

    & > :is(input, label, svg) {
        grid-area: 1/1;
        inline-size: 100%;
        block-size: 100%;
    }

    & > :is(input, label) {
        opacity: 0;
        overflow: hidden;
        white-space: nowrap;
    }

    & > svg {
        fill: currentColor;
    }
}