.filters {
    background: hsl(var(--surface-2-hsl) / 0.8);
    backdrop-filter: blur(1.25rem);
    border-block-start: var(--border-size-4) solid var(--surface-1);
    padding-block: var(--size-fluid-2);
    padding-inline: var(--size-fluid-4);
}