:where(body) {
    container-name: root;
    container-type: inline-size;
}

:where(ul, ol)[class] {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
    }
}

:where(.lazyload, .lazyloading) {
    opacity: 0;
}

:where(.lazyloaded) {
    opacity: 1;
    transition: opacity var(--duration-moderate) var(--ease-out-1);
}