.card-grid {

    &__list {
        container-name: card-grid;
        container-type: inline-size;
        display: grid;
        gap: var(--size-fluid-4);
        grid-template-columns: 1fr;
        padding-block: var(--size-fluid-4);
        padding-inline: var(--size-fluid-4);

        @container root (min-width: 32rem) {
            grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
        }
    }
}