//==========================================================================
//==[ Site Utility Bar ]====================================================
//==[ @component Header ]===================================================
//==========================================================================

.site-utility {

    &__list {
        align-content: center;
        align-items: center;
        display: grid;
        gap: var(--size-fluid-1);
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        justify-content: end;
    }

    &__item {
        transition: opacity var(--duration-quick) var(--ease-out-1);

        &[inert] {
            opacity: 0.2;
        }
    }

    &__button {
        --button-padding-block: 0;
        --button-padding-inline: 0;
        --utility-button-size: clamp(2.625rem, 4vi, 3.5rem);
        aspect-ratio: 1;
        block-size: var(--utility-button-size);
        display: grid;
        inline-size: var(--utility-button-size);
        place-items: center;

        &:is(a) {
            --_link-alpha: 0.5;
            color: hsl(var(--text-1-hsl) / var(--_link-alpha));
            font-size: 1.5rem;

            @media (prefers-reduced-motion: no-preference) {
                transition:
                    box-shadow var(--duration-fast) var(--ease-out-2),
                    color var(--duration-quick) var(--ease-out-2);
            }

            &:hover {
                --_link-alpha: 1;
                text-decoration: none;
            }
        }

        .icon {
            max-inline-size: 1.5rem;
        }
    }
}