.site-utility {

    &__list {
        display: grid;
        gap: var(--size-fluid-1);
        grid-auto-columns: max-content;
        grid-auto-flow: column;
    }

    &__item {
        > * {
            aspect-ratio: 1;
            block-size: 100%;
            display: grid;
            place-items: center;
        }

        > a {
            --_link-alpha: 0.5;
            color: hsl(var(--text-1-hsl) / var(--_link-alpha));

            @media (prefers-reduced-motion: no-preference) {
                transition:
                    box-shadow var(--duration-fast) var(--ease-out-2),
                    color var(--duration-quick) var(--ease-out-2);
            }

            &:hover {
                --_link-alpha: 1;
                text-decoration: none;
            }
        }
    }
}