.site-utility {

    &__list {
        display: grid;
        gap: var(--size-fluid-2);
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        grid-template-columns: 3rem;
    }

    &__button {
        aspect-ratio: 1;
        display: grid;
        place-items: center;

        &:is(a) {
            --_link-alpha: 0.5;
            color: hsl(var(--text-1-hsl) / var(--_link-alpha));
            font-size: 1.5rem;

            @media (prefers-reduced-motion: no-preference) {
                transition:
                    box-shadow var(--duration-fast) var(--ease-out-2),
                    color var(--duration-quick) var(--ease-out-2);
            }

            &:hover {
                --_link-alpha: 1;
                text-decoration: none;
            }
        }

        .icon {
            max-inline-size: 1.5rem;
        }
    }
}