.site-header {
    inset-block-start: 0;
    position: sticky;
    z-index: var(--layer-4);

    &__grid {
        background: hsl(var(--surface-2-hsl) / 0.8);
        backdrop-filter: blur(1.25rem);
        display: flex;
        gap: var(--size-fluid-4);
        justify-content: space-between;
        padding-block: var(--size-fluid-2);
        padding-inline: var(--size-fluid-4);
        position: relative;
        z-index: var(--layer-1);
    }

    &__brand {
        align-items: center;
        display: grid;
        gap: var(--size-fluid-2);
        grid-template-columns: max-content auto;
    }

    &__title {
        font-family: var(--font-sans);
        font-size: var(--font-size-fluid-2);
        font-weight: var(--font-weight-7);
        letter-spacing: var(--font-letterspacing-4);

        span {
            color: var(--brand);
            font-family: var(--font-pixel);
            font-size: 1.2em;
            font-weight: var(--font-weight-7);
        }
    }

    &__logo {
        aspect-ratio: 1;
        block-size: var(--size-fluid-4);
        color: var(--text-2);

        svg {
            block-size: 100%;
            inline-size: 100%;
            object-fit: contain;
        }
    }
}