.site-header {
    background: linear-gradient(180deg, hsl(var(--surface-1-hsl) / 0.9) 10%, transparent);
    inset-block-start: 0;
    max-inline-size: 100%;
    overflow: hidden;
    position: sticky;
    z-index: var(--layer-4);

    &__grid {
        align-items: center;
        background-color: transparent;
        background-image: radial-gradient( rgba(0,0,0,0) 1px, var(--surface-2) 1px );
        background-repeat: repeat;
        background-size: 4px 4px;
        backdrop-filter: brightness(100%) blur(4px);
        display: grid;
        gap: var(--size-fluid-4);
        grid-template-columns: 1fr max-content;
        justify-content: space-between;
        padding-block: var(--size-fluid-2);
        padding-inline: var(--size-fluid-4);
        position: relative;
        z-index: var(--layer-1);
    }

    &__brand {
        align-items: center;
        display: grid;
        gap: var(--size-fluid-2);
        grid-template-columns: max-content auto;
    }

    &__title {
        font-family: var(--font-sans);
        font-size: var(--font-size-fluid-2);
        font-weight: var(--font-weight-7);
        letter-spacing: var(--font-letterspacing-4);

        span {
            color: var(--brand);
            font-family: var(--font-pixel);
            font-size: 1.2em;
            font-weight: var(--font-weight-7);
        }
    }

    &__logo {
        aspect-ratio: 1;
        block-size: var(--size-fluid-4);
        color: var(--text-2);

        svg {
            block-size: 100%;
            inline-size: 100%;
            object-fit: contain;
        }
    }
}