//=================================================================
//====[ @component Loader ]========================================
//=================================================================

.loader {
    display: grid;
    gap: 0.5em;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    place-content: center;
}