.commit {
    border: var(--border-size-1) solid var(--surface-3);
    border-radius: var(--radius-2);
    container-name: commit;
    container-type: inline-size;
    display: grid;
    gap: var(--size-fluid-3);
    max-inline-size: none;
    padding-block: var(--size-fluid-1);
    padding-inline: var(--size-fluid-1);

    &__header {
        align-items: center;
        display: flex;
        gap: var(--size-2);
        justify-content: space-between;
    }

    &__message {
        color: var(--text-1);
        font-size: max(var(--font-size-fluid-0), 0.875rem);
        font-weight: var(--font-weight-3);
        letter-spacing: var(--font-letterspacing-1);
        line-height: var(--font-lineheight-2);
        word-break: break-word;
    }

    &__meta {
        align-items: center;
        display: grid;
        gap: var(--size-2);
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        justify-content: start;
    }

    &__meta-wrapper {
        align-items: center;
        display: grid;
        grid-auto-flow: row;
        grid-auto-columns: max-content;
        grid-auto-rows: max-content;
        gap: var(--size-1) var(--size-2);

        @container commit (min-width: 31.25rem) {
            grid-auto-flow: column;
        }
    }

    &__avatar {
        aspect-ratio: var(--ratio-square);
        block-size: var(--size-6);
        border-radius: var(--radius-round);
        border: var(--border-size-2) solid var(--surface-4);

        img {
            border-radius: var(--radius-round);
        }
    }

    &__author {
        color: var(--text-1);
        font-family: var(--font-mono);
        font-size: max(var(--font-size-fluid-0), 0.875rem);
        font-weight: var(--font-weight-3);
        letter-spacing: var(--font-letterspacing-3);
        line-height: var(--font-lineheight-0);
    }

    &__date {
        color: var(--text-2);
        font-size: max(0.7vi, 0.75rem);
        font-weight: var(--font-weight-3);
        letter-spacing: var(--font-letterspacing-3);
        line-height: var(--font-lineheight-00);

        span {
            display: none;

            @container commit (min-width: 31.25rem) {
                display: inline;
            }
        }
    }

    &__footer {
        align-items: end;
        display: flex;
        gap: var(--size-2);
        justify-content: space-between;
    }

    &__sha {
        background: var(--surface-1);
        border-radius: var(--radius-2);
        color: var(--text-2);
        display: inline-block;
        font-size: var(--font-size-fluid-0);
        font-weight: var(--font-weight-3);
        letter-spacing: var(--font-letterspacing-4);
        line-height: var(--font-lineheight-0);
        padding-block: var(--size-2);
        padding-inline: var(--size-3);
    }


    &__link {
        --button-padding-block: var(--size-1);
        --button-padding-inline: var(--size-1);
        --commit-link-font-size: 1rem;
        aspect-ratio: var(--ratio-square);
        display: grid;
        place-items: center;

        @container commit (min-width: 31.25rem) {
            --button-padding-block: var(--size-2);
            --button-padding-inline: var(--size-2);
            --commit-link-font-size: 1.125rem;
        }

        &::after {
            content: '';
            inset: 0;
            position: absolute;
        }

        :is(.material-symbols-rounded) {
            font-size: var(--commit-link-font-size) !important;
        }
    }
}