@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&family=Pixelify+Sans:wght@500&family=Rubik+Mono+One&display=swap');

// Rubik Mono One - 400 ( Regular )
// Pixelify Sans - 500 ( Medium )
// AR One Sans - 400 ( Regular ), 500 ( Medium ), 600 ( Semi-Bold ), 700 ( Bold )

:root {
    --font-sans: 'AR One Sans', sans-serif;
    --font-mono: 'Rubik Mono One', monospace;
    --font-pixel: 'Pixelify Sans', sans-serif;
}